<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GSMArena_Mobile_Brands.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GSMArena_Mobile_Brands.Properties.Settings>
            <setting name="CSVpath" serializeAs="String">
                <value />
            </setting>
            <setting name="JSONpath" serializeAs="String">
                <value />
            </setting>
            <setting name="TXTpath" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLpath" serializeAs="String">
                <value />
            </setting>
            <setting name="LocationSetting" serializeAs="String">
                <value />
            </setting>
        </GSMArena_Mobile_Brands.Properties.Settings>
    </userSettings>
</configuration>