<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="clsGsmar.Properties.evry1falls" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="clsGsmar.Properties.evry1falls" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <clsGsmar.Properties.evry1falls>
            <setting name="LastGoodProxy" serializeAs="String">
                <value />
            </setting>
            <setting name="LastGoodUserAgent" serializeAs="String">
                <value />
            </setting>
        </clsGsmar.Properties.evry1falls>
    </userSettings>
    <applicationSettings>
        <clsGsmar.Properties.evry1falls>
            <setting name="AppFolderName" serializeAs="String">
                <value>Apps/GSMArenaUploaderApp</value>
            </setting>
        </clsGsmar.Properties.evry1falls>
    </applicationSettings>
</configuration>